@import "~variables.scss";

:host {
  .navbar {
    background-color: $topnav-background-color;
    .navbar-brand {
      color: $topnav-color;
    }
    .nav-item > a {
      color: $topnav-color;
      &:hover {
        color: $topnav-color;
      }
    }
  }
  .messages {
    width: 300px;
    .media {
      border-bottom: 1px solid $messages-border;
      padding: 5px 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    .media-body {
      h5 {
        font-size: 13px;
        font-weight: 600;
      }
      .small {
        margin: 0;
      }
      .last {
        font-size: 12px;
        margin: 0;
      }
    }
  }
  .dropdown-menu-right {
    cursor: pointer;
  }
}
