<div>
  <app-page-header [heading]="'Users'" [icon]="'fa-users'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Role</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let idx = index">
            <th scope="row">{{idx + 1}}</th>
            <td>{{user.username}}</td>
            <td>
              <select name="role" id="">
                <option value="role"
                        [disabled]="!isRoleEditable"
                        *ngFor="let role of roles">{{role}}
                </option>
              </select>
            </td>
            <td>
              <div [hidden]="!isRoleEditable" class="fa fa-trash-o"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
